

<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <!--    <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Home">Home</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link active" href="/Registration">Employees List</a>
          </li>&nbsp; 
          <li class="nav-item">
            <a class="nav-link active" href="/AddEmployees">Add Employees</a>
          </li>&nbsp; 
          <li class="nav-item">
            <a class="nav-link active" href="/UpdateEmployees">Update</a>
          </li>&nbsp; 

          <li class="nav-item">
            <a class="nav-link active" href="/createadmin">Add Admin</a>
          </li>

         
          <li class="nav-item">
            <a  class="nav-link active" href="/Login">Login</a>
          </li> <!--class="nav-link disabled"  aria-disabled="true"-->
      
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
  <br>
  <br>
  <br>
  <div class="container">
<div class="footer">
  <p> Copyright By &copy; ITEC </p>
</div>

  </div>

   <router-outlet></router-outlet>