
<br>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success</strong> The Row is deleted
  <button (click)="CloseAlert" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>

</div>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
  <tbody>
    <tr *ngFor="let T3 of collection">
        <td>{{T3.id}}</td>
        <td>{{T3.name}}</td>
        <td>{{T3.address}}</td>
        <td>{{T3.email}}</td>
        <td><a routerLink="/UpdateEmployees/{{T3.id}}">
          <i class="fa fa-edit penicon" ></i></a> &nbsp;&nbsp;
          <i (click)="deleteemp(T3.id)" class="fa fa-trash-o penicon" ></i></td>
        
        </tr>
  </tbody>
</table>
