<div  class="jumbotron">

    <h1 class="test-center">Register Admin From</h1>   
  </div><br><br>
  
  <!--<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success</strong> Your data is Added Successfully
    <button (click)="CloseAlert" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
  
  </div>-->
  
  <form  (FormGroup)="Createadmin" (ngSubmit)="Create_admin()" >
    <div [formGroup]="Createadmin"> 
      <label for="exampleInputname" class="form-label">Name</label>
      <input type="text" class="form-control" placeholder="Emp Name" formControlName="name">
    </div>
  <!--class="form-group"-->
    <div [formGroup]="Createadmin">
      <label for="exampleInputname" class="form-label">Password</label>
      <input type="password" class="form-control" placeholder="password" formControlName="password" >
    </div>
  
    <div [formGroup]="Createadmin">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="text" class="form-control" placeholder="Emp Email" formControlName="email" >
    </div>
   
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>